In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os
os.getcwd()
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("heart_disease_data.csv")

In [3]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
data["target"].value_counts()  # 0 represt no presence other digit presence

1    165
0    138
Name: target, dtype: int64

In [5]:
### Outlier treatment is not required in this. it will not create problem as it is binary classification. WE use sigmod it will get converted to 0 to 1

### Feature scaling too not required

In [6]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

# Splitting the Features

In [9]:
x = data.iloc[:,0:-1]

In [10]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [11]:
y = data["target"]

# spliting the features in Train Test split

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=2,stratify=y)

# Building Logistic Regression model

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
log = LogisticRegression()

In [17]:
log.fit(x_train,y_train)

LogisticRegression()

# Predict the training data

In [18]:
x_train_pred = log.predict(x_train)
x_test_pred = log.predict(x_test)

# Evaluate the Model

In [20]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

# Accuracy Score : Out of all my preddictions? how many predicts got correctly identified by the model

### Number  of total predictions/ correct prediction $

In [22]:
accuracy_score(y_train,x_train_pred)

0.8458149779735683

In [23]:
accuracy_score(y_test,x_test_pred)

0.8421052631578947

In [ ]:
# Generate Classification Report

In [26]:
print(classification_report(y_train,x_train_pred))
print(classification_report(y_test,x_test_pred))

              precision    recall  f1-score   support

           0       0.88      0.77      0.82       103
           1       0.82      0.91      0.87       124

    accuracy                           0.85       227
   macro avg       0.85      0.84      0.84       227
weighted avg       0.85      0.85      0.84       227

              precision    recall  f1-score   support

           0       0.81      0.86      0.83        35
           1       0.87      0.83      0.85        41

    accuracy                           0.84        76
   macro avg       0.84      0.84      0.84        76
weighted avg       0.84      0.84      0.84        76

## Precision: The propartion of predicted positve v/s truely positive . This ratio is called precision

### TP/TP+FP

## Recall: Indicated the propotion of actual positives which were correctly classified. The model which produces no false negative has recall of 1.

### Tp/TP+FN

# F1 Score : A combination of precision and recall. A perfect model achive an F1 score of 0.1. It gives overall health of the model

# Confustion Matrix

In [30]:
print(confusion_matrix(y_train,x_train_pred))
print()
print(confusion_matrix(y_test,x_test_pred))

[[ 79  24]
 [ 11 113]]

[[30  5]
 [ 7 34]]

In [ ]:
# Softmax Function

In [37]:
m_reg = LogisticRegression(multi_class= "multinomial")

In [38]:
m_reg.fit(x_train,y_train)

LogisticRegression(multi_class='multinomial')

In [39]:
# Predict

In [40]:
x_train_pred = m_reg.predict(x_train)
x_test_pred = m_reg.predict(x_test)

In [41]:
# Evaluate the model

In [42]:
print(accuracy_score(y_train,x_train_pred))
print(accuracy_score(y_test,x_test_pred))

0.8458149779735683
0.8289473684210527

In [43]:
print(classification_report(y_train,x_train_pred))
print(classification_report(y_test,x_test_pred))

              precision    recall  f1-score   support

           0       0.88      0.77      0.82       103
           1       0.82      0.91      0.87       124

    accuracy                           0.85       227
   macro avg       0.85      0.84      0.84       227
weighted avg       0.85      0.85      0.84       227

              precision    recall  f1-score   support

           0       0.79      0.86      0.82        35
           1       0.87      0.80      0.84        41

    accuracy                           0.83        76
   macro avg       0.83      0.83      0.83        76
weighted avg       0.83      0.83      0.83        76